#{extends 'main.html' /}
<h1>${vArtist.getProperty("artistName")}</h1>
<img src="${img}" width="350"/><br/>

#{if similarNames.size()>0}
    <h5>Artist's with similar names:
        #{list items:similarNames, as:'vSimilarArtist'}
        <a href='@{Artist.mbid(vSimilarArtist.getProperty("mbid"))}'>${vSimilarArtist.getProperty("artistName")}</a>&nbsp
        #{/list}
    </h5>
#{/if}
<ul class="nav nav-justified">
    <li class="active">
        <a href='@{Artist.mbid(vArtist.getProperty("mbid"))}'>Bio</a>
    </li>
    <li>
        <a href='@{Artist.albums(vArtist.getProperty("mbid"))}'>Albums</a>
    </li>
</ul>

#{if vBio!=null}
    ${vBio.getProperty("bio")}
    <h5>${vBio.getProperty("lastEdit").raw()}</h5>
#{/if}
