<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    #{stylesheet src:"bootstrap.min.css" /}
    #{stylesheet src:"freemp.css" /}
    #{stylesheet src:"summernote.css" /}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@{Application.index()}">FreeMP</a>
        </div>
        <div class="navbar-collapse collapse">
        #{ifnot username}

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in | Register<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@{secure.login}">Sign in</a></li>
                        <li class="divider"></li>
                        <li><a href="@{register.index}">Register</a></li>
                    </ul>
                </li>
            </ul>

        #{/ifnot}
        #{else}

            <ul class="nav navbar-nav">
                <li><a href="@{post.newpost}">New Post</a> </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a  href="">Welcome back, ${username}</a>
                </li>
                <li>
                   <a  href="/logout">Logout</a>
                </li>
            </ul>

        #{/else}
            <div class="navbar-form navbar-right" role="search">
                #{form @Artist.search()}

                <div class="form-group">
                    <input name="q" id="q" type="text" class="form-control" placeholder="Search artist">
                </div>
                <button type="submit" class="btn btn-default" style="position: absolute; left: -9999px"><span class="glyphicon glyphicon-search"></span></button>
                #{/form}
            </div>
        </div>

    </div>
</div>

<div class="jumbotron">
    #{ifnot username}
    <div class="container">
        <h1>Whats up?!</h1>
        <p>This is a multilanguage group blog about music and performers. This website was designed primarily to support users of FreeMP (android music player), but somehow strangely mutated into an independent project.</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="https://github.com/recoilme/freemp">Get player »</a>
        </p>
    </div>
    #{/ifnot}
</div>

<div class="container">
    #{doLayout /}

<br/>
<footer>
    Hosted by <a href="http://serverclub.com">ServerClub</a>

</footer>
</div>
<!-- Latest compiled and minified JavaScript -->
#{script src:"jquery-2.1.0.min.js" /}
#{script src:"bootstrap.js" /}
#{script src:"summernote.min.js" /}
<script>
    $(document).ready(function() {
        $('#content').summernote({
            height: 250,   //set editable area's height
            focus: true,    //set focus editable area after Initialize summernote
            onImageUpload: function(files, editor, welEditable) {
                sendFile(files[0], editor, welEditable);
            }
        });
        function sendFile(file, editor, welEditable) {
            data = new FormData();
            data.append("file", file);
            $.ajax({
                data: data,
                type: "POST",
                url: "saveimage",
                cache: false,
                contentType: false,
                processData: false,
                success: function(url) {
                    editor.insertImage(welEditable, url);
                }
            });
        }
    });
</script>




</body>
</html>
